@tailwind base;
@tailwind components;
@tailwind utilities;


@keyframes border-flow {
  0% {
    background-position: 0% 0;
  }
  100% {
    background-position: 200% 0;
  }
}

html, body {
  padding: 0;
  margin: 0;
}

body {
  height: 100vh; /* fallback */
  height: var(--app-height); /* dynamic height */
  /* background: linear-gradient(to bottom right, #ffffff, #e7dbe9ac, #A362A880); */
  overflow: hidden;
}

#root {
  height: 100%;
}

.animate-border-flow {
  animation: border-flow 3s linear infinite;
}


/* width */
/* Make the scrollbar itself narrower */
::-webkit-scrollbar {
  width: 15px; /* Overall width of the scrollbar */
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #998dab;
  border-radius: 25px;
  border: 4px solid transparent;
  background-clip: padding-box; 
  width: 10px;
}
.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #b7b7b7; 
  border-radius: 25px; 
}
